#profile-root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

#profile-root .portal-wrapper {
  @apply w-full h-full flex justify-center items-start;
  background: rgba(0, 0, 0, 0.65);
}

.profile-container {
  @apply flex flex-col relative w-1/2 bg-dark-secondary top-1/4 rounded-xl p-6 border-2 border-purple-700 shadow-2xl;
  min-height: 300px;
}
