@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-normal: #bbbbbb;
  --accent-color: rgba(165, 121, 248, 0.9);
  --accent-color-bg: rgb(165, 121, 248, 0.15);
  --background-primary: #1a1a1a;
  --background-primary-alt: #0d0b12;
  --background-secondary: #212121;
  --background-secondary-alt: #18181a;
  --background-trans: rgba(255, 255, 255, 0.15);
  --bg-accent-55: rgba(165, 121, 248, 0.55);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  color: var(--text-normal);
  min-height: 100vh;
  position: relative;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-normal);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
